{% extends 'base.html.twig' %}

{% block title %}
    Llistat de Categories
{% endblock %}

{% block body%}
    <div class="row">
        <div class="col-xs-10">
            <h1>Categories</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>
                            <a href="{{ path('app_category_update', {id: category.id}) }}">Update</a>
                            <a href="{{ path('app_category_delete', {id: category.id}) }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <hr>
            <p>
                <a class="btn btn-primary" href="{{ path('app_category_create') }}">+ New category</a>
            </p>
        </div>
    </div>

{% endblock %}