<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>{% block title %}Awazon{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="shortcut icon" href="favicon-32x32.ico" type="image/x-icon">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {# top navbar section #}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('app_frontend_homepage') }}">
            <img src="{{ asset('awazon-square.png') }}" width="80" alt="awazon logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {# todo replace it by knp menu render #}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_frontend_product_list') }}">Products</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {# flashes section #}
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {% for msg in app.session.flashBag.get('success') %}{{ msg }}{% endfor %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
        {% endif %}
        {# main body section #}
        {% block body %}{% endblock %}
    </div>
    <script src="{{ asset('build/app.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
