{% extends "frontend/base.html.twig" %}

{% block title %}{{ parent() }} · the neverending store{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm mb-5">
            <h1 class="display-1">awazon</h1>
            <div class="p-3 text-white bg-danger">the neverending store</div>
        </div>
    </div>
    <h3 class="mt-5">New products</h3>
    <div class="row">
        {% for product in products %}
            <div class="col-sm">
                <div class="card" >
                    <img class="card-img-top" src="{{ vich_uploader_asset(product.firstImage, 'imageFile') | imagine_filter('550xY') }}" alt="{{ product.name }}" >
                    <div class="card-body">
                        <h5 class="card-title">{{  product.name }}  <span class="badge badge-warning">{{ product.price|number_format(2, ',', '.') }} €</span></h5>
                        <p class="card-text">{{ product.description }}</p>
                        <a href="{{ path('app_frontend_product_detail', {slug: product.slug}) }}" class="btn btn-primary">BUY!</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <h3 class="mt-5">Best sellers</h3>
    <div class="row">
        {% for bestseller in bestsellers %}
            <div class="col-sm">
                <div class="card" >
                    <img class="card-img-top" src="{{ vich_uploader_asset(bestseller[0].firstImage, 'imageFile') | imagine_filter('550xY') }}" alt="{{ bestseller[0].name }}" >
                    <div class="card-body">
                        <h5 class="card-title">{{  bestseller[0].name }}  <span class="badge badge-warning">{{ bestseller[0].price|number_format(2, ',', '.') }} €</span></h5>
                        <p class="card-text">{{ bestseller[0].description }}</p>
                        <a href="{{ path('app_frontend_product_detail', {slug: bestseller[0].slug}) }}" class="btn btn-primary">BUY!</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <h3 class="mt-5">Most rated</h3>
    <div class="row">
        {% for mostrated in mostrateds %}
            <div class="col-sm">
                <div class="card" >
                    <img class="card-img-top" src="{{ vich_uploader_asset(mostrated.firstImage, 'imageFile') | imagine_filter('550xY')}}" alt="{{ mostrated.name }}" >
                    <div class="card-body">
                        <h5 class="card-title">{{  mostrated.name }}   <span class="badge badge-warning">{{ mostrated.price|number_format(2, ',', '.') }} €</span></h5>
                        <p class="card-text">{{ mostrated.description }}</p>
                        <a href="{{ path('app_frontend_product_detail', {slug: mostrated.slug}) }}" class="btn btn-primary">BUY!</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
