{% extends 'base.html.twig' %}

{% block title %}
    Providers list
{% endblock %}

{% block body%}
    <div class="row">
        <div class="col-xs-10">
            <h1>Providers</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Adress</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for provider in providers %}
                    <tr>
                        <td>{{ provider.id }}</td>
                        <td>{{ provider.name }}</td>
                        <td>{{ provider.address }}</td>
                        <td>{{ provider.email }}</td>
                        <td>{{ provider.phone }}</td>

                        <td>
                            <a href="{{ path('app_provider_update', {id: provider.id}) }}">Update</a>
                            <a href="{{ path('app_provider_delete', {id: provider.id}) }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <hr>
            <p>
                <a class="btn btn-primary" href="{{ path('app_provider_create') }}">+ New provider</a>
            </p>
        </div>
    </div>

{% endblock %}