{% extends 'base.html.twig' %}

{% block title %}
    Llistat d'imatges
{% endblock %}

{% block body%}
    <div class="row">
        <div class="col-xs-10">
            <h1>Order</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Provider</th>
                    <th>Customer</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.date|date("d/m/Y") }}</td>
                        <td>{{ order.provider }}</td>
                        <td>{{ order.customer }}</td>

                        <td>
                            <a href="{{ path('app_order_update', {id: order.id}) }}">Actualitzar</a>
                            <a href="{{ path('app_order_delete', {id: order.id}) }}">Esborrar</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <hr>
            <p>
                <a class="btn btn-primary" href="{{ path('app_order_create') }}">+ New order</a>
            </p>
        </div>
    </div>

{% endblock %}