{% extends "frontend/base.html.twig" %}

{% block title %}{{ parent() }} · the neverending store{% endblock %}

{% block body %}
    <div class="row mt-5">
        <div class="col-12 col-sm-4 col-md-3">
            <img src="{{ vich_uploader_asset(product.firstImage, 'imageFile') | imagine_filter('550xY') }}" class="img-fluid" alt="product.name">
        </div>
        <div class="col-12 col-sm-8 col-md-9">
            <h1>{{ product.name }}</h1>
            <p class="lead">
                {{ product.description }}
            </p>
            <button class="btn btn-primary" type="submit">Cart</button>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h3 class="mb-3">Reviews</h3>
            {% if product.reviews|length > 0 %}
                {% for review in product.reviews %}
                    <blockquote class="blockquote">
                        <p class="mb-0">{{ review.review }}</p>
                        <footer class="blockquote-footer">{{ review.createdAt|date('d-m-Y') }} <cite title="Source Title">{{ review.customer.name }}</cite></footer>
                    </blockquote>
                {% endfor %}
            {% else %}
                <div class="alert alert-warning" role="alert">
                    There are no reviews
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h3 class="mb-3">Ratings</h3>
            {% if product.ratings|length > 0 %}
                {% for rating in product.ratings %}
                    <blockquote class="blockquote">
                        <p class="mb-0">{{ rating.rate }}</p>
                        <footer class="blockquote-footer">{{ rating.customer }}</footer>
                    </blockquote>
                {% endfor %}
            {% else %}
                <div class="alert alert-warning" role="alert">
                    There are no ratings
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
